<mat-list role="list" class="sidena">
  <mat-list-item role="listitem">
    <a href="users/ajout">Gérer Utilisateur</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="#">Utilisateur</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="users/listforma">Liste Formateur</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="users/listuser">Liste Apprenants</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="users/listpresent">Créer Liste Presence</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="#">Listes Presence</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="#">A Propos</a>
  </mat-list-item>
</mat-list>
