.btn-primary{
  margin-left: 1%;
  margin-top: 1%;
}
table {
  margin-left: 10%;
  margin-top: 2%;
  width: 70%;
}
.presenta, .presenta > a{
  padding-left: 3%;
  background: blue;
  color: #fff;
  text-decoration: none;
}
