.nomuser{
  min-width: 250px;
}
.nomuse{
  min-width: 120px;
}
.nomusee{
  min-width: 150px;
}
.btn-primary{
  margin-left: 2%;
}
.action-link{
  padding: 10px;
}
.utp{
  margin-left: 1%;
}
.litut{
  margin-left: 3%;
}
.titre{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.orange{
  margin-left: 7px;
  color: green;
}
.digit{
  margin-left: 7px;
  color: yellow;
}
.kalan{
  margin-left: 7px;
  color: red;
}

