<mat-tab-group>

  <mat-tab label="Gérer apprenant">
    <h2>Ies {{listUsers.length}} utilisateurs de la première promotion<span class="orange">Orange</span><span class="digit">Digitale</span><span class="kalan">Kalanso</span></h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-backdrop="static" data-keyboard=false>Ajouter un apprenant</button>
    <!-- Modal 2 with validation-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger">enregistrer un apprenant</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form #addForm="ngForm" (ngSubmit)="userSave(addForm)">
              <div class="mb-2">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" id="nom" class="form-control" ngModel name="nom" required #nom="ngModel">

              </div>
              <div class="mb-2">
                <label for="prenom" class="form-label">Prenom</label>
                <input type="text" id="prenom" class="form-control" ngModel name="prenom"  required #prenom="ngModel">

              </div>
              <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required #email="ngModel">

              </div>
              <div class="mb-2">
                <label for="age" class="form-label">Age</label>
                <input type="number" id="age" class="form-control" ngModel name="age" required #age="ngModel">

              </div>
              <div class="mb-2">
                <label for="phone" class="form-label">Téléphone</label>
                <input type="int" id="phone" class="form-control" ngModel name="phone" required #phone="ngModel">

              </div>
              <div class="mb-2">
                <label for="login" class="form-label">Login</label>
                <input type="text" id="login" class="form-control" ngModel name="login" required #login="ngModel">

              </div>
              <!-- <div class="mb-2">
                <label class="form-label">Genre</label>
                <select id="genre" class="form-control" ngModel name="genre" #genre="ngModel">
                  <option value="homme">Homme</option>
                  <option value="femme">Femme</option>
                </select>
              </div> -->
              <div class="mb-2">
                <label class="form-label">Status</label>
                <select id="status" class="form-control" ngModel name="status" #status="ngModel">
                  <option value="Activer">Activer</option>
                  <option value="Desactiver">Désactiver</option>
                </select>

              </div>
              <div class="mb-2">
                <label class="form-label">Profile</label>
                <select id="profil" class="form-control" ngModel name="profile" #profile="ngModel">
                  <option value="Apprenant">Apprenant</option>
                  <option value="Formateur">Formateur</option>
                </select>

              </div>
              <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" id="exampleInputPassword1" class="form-control" ngModel name="passd" required #passd="ngModel">

              </div>
              <button class="btn btn-primary" type="submit" [disabled]="addForm.invalid">Enregistrer</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="main-content">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let user of listUsers">
        <span class="nomuser">{{ user.nom }}</span><span class="nomuser"> {{ user.prenom }}</span><span class="nomuser"> {{ user.profil }}</span><span class="nomuser"> {{ user.telephone }}</span><span class="nomuser"> {{ user.email }}</span><a class="action-link" [routerLink]="['/users/deleteuser', user.id]">Modifier</a> | <a class="action-link" [routerLink]="['/users/edituser', user.id]">Supprimer</a>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-tab>

  <mat-tab label="Liste presence">
  </mat-tab>

  <mat-tab label="Options">
    <p>hello word ici c'est des options</p>
  </mat-tab>
</mat-tab-group>



