.nomuser{
  min-width: 180px;
}
.action-link{
  padding: 10px;
}
.titre{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.orange{
  margin-left: 7px;
  color: green;
}
.digit{
  margin-left: 7px;
  color: yellow;
}
.kalan{
  margin-left: 7px;
  color: red;
}

