<div class="container">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <h1>
        <span class="nomusee"> {{ profile_user.prenom }} </span><span class="nomusee">{{ profile_user.nom }}</span>
      </h1>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Profile :</span><span class="nomusev"> {{ profile_user.profil }}</span>
      </h4>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Status :</span><span class="nomusev"> {{ profile_user.userStatus }}</span>
      </h4>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Téléphone :</span><span class="nomusev"> {{ profile_user.telephone }}</span>
      </h4>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Email :</span><span class="nomusev"> {{ profile_user.email }}</span>
      </h4>
    </mat-list-item>
    <!-- <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Genre :</span><span class="nomusev"> {{ profile_user.genre }}</span>
      </h4>
    </mat-list-item> -->
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Age :</span><span class="nomusev"> {{ profile_user.age }}</span>
      </h4>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Date de création :</span><span class="nomusev">{{ profile_user.dateCreation }}</span>
      </h4>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h4>
        <span class="nomuse">Date de Modification :</span><span class="nomusev">{{ profile_user.dateModification }}</span>
      </h4>
    </mat-list-item>
  </mat-list>
</div>


